section {
    border: 1px solid black;
}


main {
    background-color: rgb(211, 175, 108);
    height: 100vh;
}

.jumbotronHeader {
    border-bottom: 2px solid black;
    background-color:rgb(148, 224, 217);
}

.row {
    background-color:thistle;
    border-bottom: .5px dashed black;
}

.container-fluid {
    text-align:center;
    align-content:center;
}

.navbar {
    display:inline;
}

span {
    border: 1px solid black;
    margin: 12px;
    padding: 2px;
}


.favorable {
    background-color: green;
}

.moderate {
    background-color:yellow;
}

.severe {
    background-color:red;
}