main {
    background-color: rgb(211, 175, 108);
    height: 100%;
}

.jumbotronHeader {
    border-bottom: 2px solid black;
    background-color:rgb(148, 224, 217);
    text-align: center;
    padding: 5px;
}

.navbar {
    display:inline;
}
section {
    border: .5px solid black;
    margin: 5px;
    background-color:rgb(121, 180, 180);
    text-align:center;
    align-content:center;
    padding: 20px;
}

.card {
    border: 1px solid black;
    margin: 0 auto;
    padding: 2px;
    float: none;
    margin-bottom: 10px;
}

.img {
    padding: 5px;
}

li {
    list-style-type: none;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color:yellow;
}

.severe {
    background-color:red;
}